<section class="m_content__report_section">
  <h2 class="m_section__title">URL : <%= reportDetailInfo['url'] %></h2>
  <p id="l_content__screenshot">
    <img src="###SCREENSHOT" alt="">
  </p>
</section>
<section class="m_content__report_section">
  <h2 class="m_section__title">Title : <%= reportDetailInfo['title'] %></h2>
</section>
<section class="m_content__report_section">
  <h2 class="m_section__title marker">Meta</h2>
  <div class="m_content__report_wrapper"><pre><code class="html"><%= reportDetailInfo['meta'] %></code></pre></div>
</section>
<section class="m_content__report_section">
  <h2 class="m_section__title marker">Text</h2>
  <div class="m_content__report_wrapper">
    <div class="m_content__report_inner_wrapper">
      <ul class="m_section__ref_css_list">
        <li class="m_section__ref_css_list__item">
          <div class="m_section__css_digest_table ___maximum">
            <div class="m_content__css_digest_table__row">
              <div class="m_content__css_digest_table__cell ___head">Value</div>
            </div>
            <% reportDetailInfo['text'].forEach(function(textInfo){ %>
              <div class="m_content__css_digest_table__row">
                <div class="m_content__css_digest_table__cell"><%= textInfo %></div>
              </div>
            <% }); %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="m_content__report_section">
  <h2 class="m_section__title marker">Css</h2>
  <div class="m_content__report_wrapper">
    <div class="m_content__report_inner_wrapper">
      <ul class="m_section__ref_css_list">
        <li class="m_section__ref_css_list__item">
          <div class="m_section__css_digest_table ___maximum">
            <div class="m_content__css_digest_table__row">
              <div class="m_content__css_digest_table__cell ___head">Total</div>
              <div class="m_content__css_digest_table__cell ___head">OK</div>
              <div class="m_content__css_digest_table__cell ___head">NG</div>
              <div class="m_content__css_digest_table__cell ___head">Unknown</div>
            </div>
            <div class="m_content__css_digest_table__row">
              <div class="m_content__css_digest_table__cell"><%= reportDetailInfo['css']['general']['total'] %></div>
              <div class="m_content__css_digest_table__cell"><%= reportDetailInfo['css']['general']['ok']['count'] %> ( <%= reportDetailInfo['css']['general']['ok']['rate'] %> % )</div>
              <div class="m_content__css_digest_table__cell"><%= reportDetailInfo['css']['general']['ng']['count'] %> ( <%= reportDetailInfo['css']['general']['ng']['rate'] %> % )</div>
              <div class="m_content__css_digest_table__cell"><%= reportDetailInfo['css']['general']['unknown']['count'] %> ( <%= reportDetailInfo['css']['general']['unknown']['rate'] %> % )</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="m_content__report_inner_wrapper">
      <h3 class="m_section__sub_title">In-line</h3>
      <ul class="m_section__ref_css_list">
      <% reportDetailInfo['css']['info'].forEach(function(cssInfo){ %>
        <% if(cssInfo['path'] === 'inline') { %>
          <li class="m_section__ref_css_list__item">
            <p class="m_section__css_digest_detail_trigger_wrapper">
              <a class="j_digest_detail_trigger marker" href="javascript:void(0);" data-target-url="inline_css">More</a>
            </p>
            <div class="j_toggle" data-target-url="inline_css">
              <div class="m_section__css_digest_table">
                <div class="m_content__css_digest_table__row">
                  <div class="m_content__css_digest_table__cell ___head">Total</div>
                  <div class="m_content__css_digest_table__cell ___head">OK</div>
                  <div class="m_content__css_digest_table__cell ___head">NG</div>
                  <div class="m_content__css_digest_table__cell ___head">Unknown</div>
                </div>
                <div class="m_content__css_digest_table__row">
                  <div class="m_content__css_digest_table__cell"><%= cssInfo['digest']['total'] %></div>
                  <div class="m_content__css_digest_table__cell"><%= cssInfo['digest']['ok'] %></div>
                  <div class="m_content__css_digest_table__cell"><%= cssInfo['digest']['ng'] %></div>
                  <div class="m_content__css_digest_table__cell"><%= cssInfo['digest']['unknown'] %></div>
                </div>
              </div>
              <div class="m_content__css_table">
                <div class="m_content__css_table__row">
                  <div class="m_content__css_table__cell ___head">Selector Definition</div>
                  <div class="m_content__css_table__cell ___head">Matched DOM Count</div>
                </div>
                <% cssInfo['detail'].forEach(function(cssDetailInfo){ %>
                  <div class="m_content__css_table__row">
                    <div class="m_content__css_table__cell"><%= cssDetailInfo['selector'] %></div>
                    <div class="m_content__css_table__cell"><%= cssDetailInfo['count'] %></div>
                  </div>
                <% }); %>
              </div>
            </div>
          </li>
        <% } %>
      <% }); %>
      </ul>
    </div>
    <div class="m_content__report_inner_wrapper">
      <h3 class="m_section__sub_title">Ref</h3>
      <ul class="m_section__ref_css_list">
      <% reportDetailInfo['css']['info'].forEach(function(cssInfo){ %>
        <% if(cssInfo['path'] !== 'inline') { %>
          <li class="m_section__ref_css_list__item">
            <h4 class="m_section__ref_css__file_name"><%= cssInfo['path'] %></h4>
            <p class="m_section__css_digest_detail_trigger_wrapper">
              <a class="j_digest_detail_trigger marker" href="javascript:void(0);" data-target-url="<%= cssInfo['path'] %>">More</a>
            </p>
            <div class="j_toggle" data-target-url="<%= cssInfo['path'] %>">
              <div class="m_section__css_digest_table">
                <div class="m_content__css_digest_table__row">
                  <div class="m_content__css_digest_table__cell ___head">Total</div>
                  <div class="m_content__css_digest_table__cell ___head">OK</div>
                  <div class="m_content__css_digest_table__cell ___head">NG</div>
                  <div class="m_content__css_digest_table__cell ___head">Unknown</div>
                </div>
                <div class="m_content__css_digest_table__row">
                  <div class="m_content__css_digest_table__cell"><%= cssInfo['digest']['total'] %></div>
                  <div class="m_content__css_digest_table__cell"><%= cssInfo['digest']['ok'] %></div>
                  <div class="m_content__css_digest_table__cell"><%= cssInfo['digest']['ng'] %></div>
                  <div class="m_content__css_digest_table__cell"><%= cssInfo['digest']['unknown'] %></div>
                </div>
              </div>
              <div class="m_content__css_table">
                <div class="m_content__css_table__row">
                  <div class="m_content__css_table__cell ___head">Selector Definition</div>
                  <div class="m_content__css_table__cell ___head">Matched DOM Count</div>
                </div>
                <% cssInfo['detail'].forEach(function(cssDetailInfo){ %>
                  <div class="m_content__css_table__row">
                    <div class="m_content__css_table__cell"><%= cssDetailInfo['selector'] %></div>
                    <div class="m_content__css_table__cell"><%= cssDetailInfo['count'] %></div>
                  </div>
                <% }); %>
              </div>
            </div>
          </li>
        <% } %>
      <% }); %>
      </ul>
    </div>
  </div>
</section>
<!-- JavaScript Information Section -->
<section class="m_content__report_section">
  <h2 class="m_section__title marker">JavaScript</h2>
  <div class="m_content__report_wrapper">
    <div class="m_content__report_inner_wrapper">
      <h3 class="m_section__sub_title">In-line</h3>
      <ul class="m_section__ref_js_list">
        <li class="m_section__ref_js_list__item">
          <p class="m_section__css_digest_detail_trigger_wrapper">
            <a class="j_digest_detail_trigger marker" href="javascript:void(0);" data-target-url="inline_js">More</a>
          </p>
          <div class="j_toggle" data-target-url="inline_js"><pre><code class="js"><%= reportDetailInfo['script']['inline'] %></code></pre></div>
        </li>
      </ul>
    </div>
    <div class="m_content__report_inner_wrapper">
      <h3 class="m_section__sub_title">Ref</h3>
      <ul class="m_section__ref_js_list">
        <% reportDetailInfo['script']['ref'].forEach(function(refScriptInfo){ %>
          <li class="m_section__ref_js_list__item">
            <h4 class="m_section__ref_js__file_name"><%= refScriptInfo %></h4>
            <p class="m_section__css_digest_detail_trigger_wrapper">
              <a class="marker" href="<%= refScriptInfo %>" target="_blank">More</a>
            </p>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</section>
<section class="m_content__report_section">
  <h2 class="m_section__title marker">Image</h2>
  <div class="m_content__report_wrapper">
    <div class="m_content__report_inner_wrapper">
      <ul class="m_section__ref_image_list">
        <li class="m_section__ref_image_list__item">
          <div class="m_section__image_digest_table ___maximum">
            <div class="m_content__image_digest_table__row">
              <div class="m_content__image_digest_table__cell ___head">Path</div>
              <div class="m_content__image_digest_table__cell ___head">Status</div>
              <div class="m_content__image_digest_table__cell ___head">Image</div>
            </div>
            <% reportDetailInfo['image'].forEach(function(imgInfo){ %>
              <div class="m_content__image_digest_table__row">
                <div class="m_content__image_digest_table__cell"><%= imgInfo['path']['raw'] %></div>
                <div class="m_content__image_digest_table__cell"><%= imgInfo['status'] === 1 ? 'o' : 'x' %></div>
                <div class="m_content__image_digest_table__cell j_async_image_load" data-async-src="/assets/image/<%= reportName %>/<%= imgInfo['path']['local'] %>"></div>
              </div>
            <% }); %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>