<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/head.ejs'); %>
  </head>
  <body>
    <%- include('./common/header.ejs'); %>
    <div id="content">
      <%- include('./common/loading.ejs'); %>
      <div id="wrapper">
        <% if(status === 1) { %>
          <%# TOP - Report List %>
          <% if(path === '/') { %>
            <%- include('./page/top.ejs'); %>
          <% } %>
          <%# DETAIL - Report Info. %>
          <% if(path.indexOf('___') !== -1) { %>
            <%- include('./page/detail.ejs'); %>
          <% } %>
        <% } else { %>
          <%- include('./page/error.ejs'); %>
        <% } %>
      </div>
    </div>
    <%- include('./common/footer.ejs'); %>
    <!-- Dev : webpack + express -->
    <script type="text/javascript" src="http://localhost:8088/livereload.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>