<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/metas.ejs'); %>
    <%- include('./common/links.ejs'); %>
    <title>Paparazzi Report</title>
  </head>
  <body>
    <%- include('./common/header.ejs'); %>
    <div id="content">
      <!-- <%- include('./common/loading.ejs'); %> -->
      <div id="wrapper">
        <% if(status === 1) { %>
          <%# TOP - Report List %>
          <% if(path === '/') { %>
            <%- include('./page/top.ejs'); %>
          <% } %>
          <%# DETAIL - Report Info. %>
          <% if(path.indexOf('___') !== -1) { %>
            <%- include('./page/detail.ejs'); %>
          <% } %>
        <% } else { %>
          <!-- <%- include('./page/error.ejs'); %> -->
          <div class="m_split_column_box">
            <div class="m_column_box">
              <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_top_trigger_for_info" data-ps-direction="top">
                <span></span>
              </a>
              <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_top_trigger_for_info" data-ps-direction="bottom">
                <span></span>
              </a>
              <div class="m_column_ps_wrapper" data-handle-trigger="j_to_top_trigger_for_info">
                <div class="m_column_content_wrapper">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sit, nemo, voluptatem praesentium distinctio repellat repudiandae commodi, quia qui facere consectetur libero asperiores fugiat consequuntur deserunt, culpa sed quidem voluptas!
                  <p style="height: 2000px; background-color: #444; margin: 40px 0;">left - 1</p>
                  <p>left - 2</p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, mollitia expedita sapiente molestias architecto temporibus magni obcaecati libero deserunt labore voluptatem eaque repellendus eum nihil voluptate nobis veniam aut! Rerum.
                </div>
              </div>
            </div>
            <div class="m_column_box">
              <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_top_trigger_for_img" data-ps-direction="top">
                <span></span>
              </a>
              <a class="j_to_scroll_trigger" href="javascript:void(0);" data-handle-ps-wrapper="j_to_top_trigger_for_img" data-ps-direction="bottom">
                <span></span>
              </a>
              <div class="m_column_ps_wrapper" data-handle-trigger="j_to_top_trigger_for_img">
                <div class="m_column_content_wrapper">
                  <img src="/assets/image/LOCAL-STYLE-SAMPLE/___result.png" alt="">
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <%- include('./common/footer.ejs'); %>
    <%- include('./common/scripts.ejs'); %>
  </body>
</html>