<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/metas.ejs'); %>
    <%- include('./common/links.ejs'); %>
    <title>Paparazzi Report</title>
  </head>
  <body>
    <%- include('./common/header.ejs'); %>
    <div id="content">
      <!-- <%- include('./common/loading.ejs'); %> -->
      <div id="wrapper">
        <% if(status === 1) { %>
          <%# TOP - Report List %>
          <% if(path === '/') { %>
            <%- include('./page/top.ejs'); %>
          <% } %>
          <%# DETAIL - Report Info. %>
          <% if(path.indexOf('___') !== -1) { %>
            <%- include('./page/detail.ejs'); %>
          <% } %>
        <% } else { %>
          <!-- <%- include('./page/error.ejs'); %> -->
          <%- include('./page/tree.ejs'); %>
        <% } %>
      </div>
    </div>
    <%- include('./common/footer.ejs'); %>
    <%- include('./common/scripts.ejs'); %>
  </body>
</html>